* {
  box-sizing: border-box;
}
.header-panel {
  background-color: #009587;
  height: 60px;
  position: relative;
  z-index: 3;
}
.header-panel div {
  position: relative;
  height: 100%;
}
.header-panel h1 {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  bottom: 10px;
  padding-left: 35px;
}

.menu {
  overflow: auto;
  padding: 0;
}
.menu, .menu * {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.menu ul {
  padding: 0;
  margin: 7px 0;
}
.menu ul li {
  list-style: none;
  padding: 20px 0 20px 50px;
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
}
.menu ul li.active {
  background-color: #dedede;
  position: relative;
}
.menu ul li a {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.pages {
  /*position: absolute;*/
  top: 0;
  right: 0;
  z-index: 0;
  padding: 0;
  overflow: auto;
}
.pages > div {
  padding: 0 5px;
  padding-top: 0px;
  margin-top: 15px;
}

.pages .header {
  color: rgb(82, 101, 162);
  font-size: 24px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 60px;
  letter-spacing: 1.20000004768372px;
}

.page {
  transform: translateY(1080px);
  transition: transform 0 linear;
  display: none;
  opacity: 0;
  font-size: 16px;
}

.page.active {
  transform: translateY(0px);
  transition: all 0.3s ease-out;
  display: block;
  opacity: 1;
}

#opensource {
  color: rgba(0, 0, 0, 0.62);
  position: fixed;
  margin-top: 50px;
  margin-left: 50px;
  z-index: 100;
}

li.slide-item {
  transition:All 1s ease;
  -webkit-transition:All 1s ease;
  -moz-transition:All 1s ease;
  -o-transition:All 1s ease;
}

#source-modal h4 {
  color: black;
}
li.slide-search {
  display: none;
}

li.trash-slide {
  position: absolute;  
}

.right-side-full-bar {
    background-color: white;
    position: relativef;
    right: 0;
    height: 100%;
}

.matter-footer {
    position: relative;
    margin-top: 50px;
    background-color: #009587;
    bottom: 0;
    width: 100%;
}

@media (max-width: 767px) {
    .right-side-full-bar {
        position: relative;
    }
}

@media (min-width:767px) and (max-width: 1199px) {
    .right-side-full-bar {
        position: relative;
        width: 100%;
    }
}

@media (max-width: 1199px) {
}

@media (-webkit-min-device-pixel-ratio: 0.75), (min--moz-device-pixel-ratio: 0.75), (-o-device-pixel-ratio: 3/4), (min-device-pixel-ratio: 0.75), (min-resolution: 0.75dppx), (min-resolution: 120dpi) {

}
@media (-webkit-min-device-pixel-ratio: 1), (min--moz-device-pixel-ratio: 1), (-o-device-pixel-ratio: 1), (min-device-pixel-ratio: 1), (min-resolution: 1dppx), (min-resolution: 160dpi) {

}
@media (-webkit-min-device-pixel-ratio: 1.33), (min--moz-device-pixel-ratio: 1.33), (-o-device-pixel-ratio: 133/100), (min-device-pixel-ratio: 1.33), (min-resolution: 1.33dppx), (min-resolution: 213dpi) {

}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx), (min-resolution: 240dpi) {

}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 380dpi) {

}
@media (-webkit-min-device-pixel-ratio: 3), (min--moz-device-pixel-ratio: 3), (-o-device-pixel-ratio: 3/1), (min-device-pixel-ratio: 3), (min-resolution: 3dppx), (min-resolution: 480dpi) {

}
@media (-webkit-min-device-pixel-ratio: 4), (min--moz-device-pixel-ratio: 4), (-o-device-pixel-ratio: 4/1), (min-device-pixel-ratio: 3), (min-resolution: 4dppx), (min-resolution: 640dpi) {

}

#container {
    margin: 2em auto;
    float: left;
    width: 100%;
    max-width: 85%;
}

#sidebar {
    float: right;
    position: relative;
}
.cols {
    -moz-column-count:4;
    -moz-column-gap: 5%;
    -moz-column-width: 100px;
    -webkit-column-count:4;
    -webkit-column-gap: 5%;
    -webkit-column-width: 100px;
    column-count: 4;
    column-gap: 100px;
    column-width: 66%;

    -webkit-column-rule: 4px outset #ff00ff; /* Chrome, Safari, Opera */
    -moz-column-rule: 4px outset #ff00ff; /* Firefox */
    column-rule: 4px outset #ff00ff;
}
.box {
    margin-bottom: 20px;
}
.box.one {
    height: 200px;
    background-color: #d77575;
}
.box.two {
    height: 300px;
    background-color: #dcbc4c;
}
.box.three {
    background-color: #a3ca3b;
    height: 400px;
}
.box.four {
    background-color: #3daee3;
    height: 500px;
}
.box.five {
    background-color: #bb8ed8;
    height: 600px;
}
.box.six {
    background-color: #baafb1;
    height: 200px;
}